{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static '/css/home.css' %}">
        <meta carset="UTF-8 ">


    </head>
    <body>
        <img class="inner"  src="../static/img/menu2.png" alt="hlsd" width="60px">
        <img  src="../static/img/4307.jpg_wh860.jpg" width="100%" alt="шапка" >
        <center>
            <img src="../static/img/1654192519_3-flomaster-club-p-yel-risunok-dlya-detei-krasivo-3.jpg" width="55%" align="middle" alt="елка">
        </center>


    </body>
</html>
