{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static '/css/home.css' %}">
        <meta carset="UTF-8 ">
        <script src="{% static 'javascript/home.js' %}"></script>

    </head>
    <body>
        <img class="position_customer" src="../static/img/transparent-computer-icons-user-user-icon.png" alt="пользователь" width="6%"/>
        <img class="position_korzuna" src="../static/img/korzuna_1.png" alt="корзина" width="6%"/>
        <div class="position_menu" class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Меню</button>
            <div id="myDropdown" class="dropdown-content" class="inner">
                <p>Каталог</p>
                <a href="http://127.0.0.1:8000/snowball/">снежки</a>


            </div>
        </div>
        <img  src="../static/img/4307.jpg_wh860.jpg" width="100%" alt="шапка" />
    </body>
</html>

